.signleft{
    /* border: 2px solid red; */
   border-left: 1rem solid yellow;
}

.signright{
    /* border: 2px solid red; */
    background-color: yellow;
/* position: relative; */
}

.image{
    display: block;
    margin: auto;
    
}
