.main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}
.paybuton{
    width: 100%;
    color: white;
    background-color: #007c89;
    height: 7vh;
    margin-top: 2rem;
    font-weight: 500;
}
.paybuton:hover{
    background-color: #005963;
}
.save-btn1{
    width: 25%;
    color: white;
    background-color: #007c89;
    height: 7vh;
    margin-top: 2rem;
    font-weight: 500;
}
.save-btn1:hover{
    background-color: #005963;
}
.save-btn2{
    width: 25%;
    height: 7vh;
    margin-top: 2rem;
    font-weight: 500;
}
.save-btn2:hover{
    background-color: #c1e8ed;
}
@media only screen and (max-width: 800px) {
    .main {
     display: grid;
     grid-template-columns: repeat(1,1fr);
margin: auto;

    }
    
  }
 
  .edit_button{
    color: #005963;
    width: 2rem;
    height: 7vh;
    
  }